body {
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
    font-size: 85%;
}

#search-button {
    overflow: hidden;
    float: right;
    line-height: 1.5em;
    margin: 0;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: .2em;
}

span {
    display: block;
    overflow: hidden;
    padding: 0 1em;
}

input {
    border: 1px solid black;
    width: 100%;
    font-size: 1em;
    height: 1.5em;
    line-height: 1.5em;
}

.search {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 1em;
}

.loader {
    position: absolute;
    left: 50%;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #000000; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.movie-radio {
	width:40px;
}